<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Root</servlet-name>
		<servlet-class>prnd.Root</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Authors</servlet-name>
		<servlet-class>prnd.Authors</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Publications</servlet-name>
		<servlet-class>prnd.Publications</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Groups</servlet-name>
		<servlet-class>prnd.Groups</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Groups</servlet-name> <url-pattern>/groups/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Publications</servlet-name> <url-pattern>/publications/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Authors</servlet-name> <url-pattern>/authors/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Root</servlet-name> <url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
